altgraph==0.17.5
bottle==0.13.4
cffi==2.0.0
chlorophyll==0.4.2
clr_loader==0.2.9
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
et_xmlfile==2.0.0
iniconfig==2.3.0
numpy==2.4.0
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pefile==2024.8.26
pillow==12.1.0
pluggy==1.6.0
proxy_tools==0.1.0
pycparser==2.23
PyGetWindow==0.0.9
Pygments==2.19.2
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pyperclip==1.11.0
PyRect==0.2.0
pytest==9.0.2
pytest-json-report==1.5.0
pytest-metadata==3.1.1
python-dateutil==2.9.0.post0
pythonnet==3.0.5
pytz==2025.2
pywebview==4.4.1
pywin32-ctypes==0.2.3
pywin32==311
PyYAML==6.0.3
setuptools==80.9.0
six==1.17.0
tkcode==0.1.6
tkinterweb==4.11.0
tkinterweb-tkhtml==2.1.0
tklinenums==1.7.1
tkwebview2==3.5.0
toml==0.10.2
typing_extensions==4.15.0
tzdata==2025.3
python-docx==1.2.0
